<launch>
	<arg name="model" default="$(find caffeine)/urdf/caffeine.urdf.xacro"/>
    
    <!-- TODO: change default into the proper port once decided -->
    <arg name="LIDAR_serial_port" default="/dev/ttyACM0"/>

	<param name="robot_description" command="xacro --inorder '$(arg model)'"/>
	
	<!-- Set up Transform Tree -->
	<include file="$(find transform)/launch/setup_tf.launch">
		<arg name="model" value="$(arg model)"/>
	</include>

	<!-- Set up Base Controller (motor control) -->
	<include file="$(find motor_control)/launch/motor_control.launch"/>

    <!-- Set up the LIDAR -->
    <node
        pkg="urg_node"
        type="urg_node"
        name="urg_node"
        args="serial_port:=$(arg LIDAR_serial_port)"
    />

    <!-- Create static transform between real life LIDAR and URDF LIDAR -->
    <node
        pkg="tf"
        type="static_transform_publisher"
        name="base_laser_to_laser_broadcaster"
        args="0 0 0 0 0 0 base_laser laser 100"
    />

    <!-- Set up the IMU -->
    <node pkg="tf" type="static_transform_publisher" name="base_laser_to_imu" args="0 0 0 0 0 0 base_laser imu 100"/>
    <include file="$(find phidgets_imu)/launch/imu_single_nodes.launch"/>
	<include file="$(find odom)/launch/odom.launch"/>

</launch>
