<launch>
	<arg name="model" default="$(find caffeine)/urdf/caffeine.urdf.xacro"/>
	
	<param name="robot_description" command="xacro --inorder '$(arg model)'"/>
	
	<!-- Set up Transform Tree -->
	<include file="$(find transform)/launch/setup_tf.launch">
		<arg name="model" value="$(arg model)"/>
	</include>

	<!-- Set up Base Controller (motor control) -->
	<include file="$(find motor_control)/launch/motor_control.launch"/>

</launch>
