<launch>
	<arg name="paused" default="false"/>
	<arg name="use_sim_time" default="true"/>
	<arg name="gui" default="true"/>
	<arg name="headless" default="false"/>
	<arg name="debug" default="false"/>
	<arg name="model" default="$(find caffeine)/urdf/caffeine.urdf.xacro"/>
	<arg name="world" default="$(find husky_gazebo)/worlds/clearpath_playpen.world"/>
	
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(arg world)"/>
		<arg name="debug" value="$(arg debug)"/>
		<arg name="gui" value="$(arg gui)"/>
		<arg name="paused" value="$(arg paused)"/>
		<arg name="use_sim_time" value="$(arg use_sim_time)"/>
		<arg name="headless" value="$(arg headless)"/>
	</include>

	<param name="robot_description" command="xacro --inorder '$(arg model)'"/>
	
	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
		args="-z 1.0 -unpause -urdf -model robot -param robot_description" respawn="false" output="screen"/>
	
	<!-- Set up Transform Tree -->
	<include file="$(find transform)/launch/setup_tf.launch">
		<arg name="model" value="$(arg model)"/>
	</include>

	<!-- Set up robot_localization Odometry -->
	<include file="$(find odom)/launch/odom.launch"/>

	<!-- Start a nodelet manager; the name must be unqualified here -->
	<node pkg="nodelet" type="nodelet" name="pipeline" args="manager" />

	<!-- Include the stereo_image_proc.launch file and pass in a qualified manager name -->
	<include file="$(find stereo_image_proc)/launch/stereo_image_proc.launch" ns="zed">
		<arg name="manager" value="/pipeline" />
	</include>

	<!-- <node pkg="nodelet" type="nodelet" name="disparity2depth" args="standalone rtabmap_ros/disparity_to_depth"/> -->

</launch>
