global_costmap:
  global_frame: map
  robot_base_frame: base_link
  update_frequency: 5.0
  rolling_window: false  # Set this to false bc static_map == true
  static_map: true     # Not supplying a static map
