global_costmap:
  global_frame: map
  robot_base_frame: base_link
  update_frequency: 5.0
  rolling_window: true  # Set this to false bc static_map == true
  static_map: false     # Not supplying a static map
