<launch>

  <arg name="sensor_ekf_config" default="$(find odom)/config/localization.yaml"/>

  <!-- Connect Odometry Sensors to robot_localization ekf node -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" clear_params="true" output="screen">
    <rosparam command="load" file="$(arg sensor_ekf_config)" />
  </node>

</launch>
