<?xml version="1.0"?>
<robot name="caffeine_sim" xmlns:xacro="http://ros.org/wiki/xacro">
   <gazebo reference="base_link">
      <material>Gazebo/Purple</material>
   </gazebo>

   <gazebo reference="front_caster">
      <material>Gazebo/Grey</material>
   </gazebo>

   <gazebo reference="back_caster">
      <material>Gazebo/Grey</material>
   </gazebo>

   <gazebo reference="front_caster_wheel">
      <material>Gazebo/Black</material>
   </gazebo>

   <gazebo reference="back_caster_wheel">
      <material>Gazebo/Black</material>
   </gazebo>

   <gazebo reference="basement">
      <material>Gazebo/Grey</material>
   </gazebo>

   <gazebo reference="right_motor_gearbox_housing">
      <material>Gazebo/Grey</material>
   </gazebo>

   <gazebo reference="left_motor_gearbox_housing">
      <material>Gazebo/Grey</material>
   </gazebo>

   <gazebo reference="left_wheel">
      <material>Gazebo/Black</material>
   </gazebo>

   <gazebo reference="right_wheel">
      <material>Gazebo/Black</material>
   </gazebo>

   <gazebo reference="stand">
      <material>Gazebo/Green</material>
   </gazebo>
   
   <gazebo>
      <plugin name="caffeine_controller" filename="libgazebo_ros_diff_drive.so">
         <alwaysOn>true</alwaysOn>
         <updateRate>30.0</updateRate>
         <robotNamespace>caffeine</robotNamespace>
         <leftJoint>left_wheel_joint</leftJoint>
         <rightJoint>right_wheel_joint</rightJoint>
         <wheelSeparation>0.764</wheelSeparation>
         <wheelDiameter>0.25</wheelDiameter>
         <robotBaseFrame>base_link</robotBaseFrame>
         <torque>20</torque>
         <topicName>cmd_vel</topicName>
         <odometryTopic>odom</odometryTopic>
         <odometryFrame>odom</odometryFrame>
         <odometrySource>world</odometrySource>
         <publishOdomTF>true</publishOdomTF>
         <publishWheelJointState>true</publishWheelJointState>
         <broadcastTF>true</broadcastTF>
      </plugin>
   </gazebo>

   <!-- IMPORTANT: Double check the numbers I'm using here with our actual sensor-->
   <gazebo reference="hokuyo_link">
      <sensor type="ray" name="hokuyo_sensor">
         <pose>0 0 0 0 0 0</pose>
         <visualize>false</visualize>
         <update_rate>30</update_rate>
         <ray>
            <scan>
               <horizontal>
                  <samples>1080</samples>
                  <resolution>1</resolution>
                  <min_angle>0.0</min_angle>
                  <max_angle>4.71</max_angle>
               </horizontal>
            </scan>
            <range>
               <min>0.1</min>
               <max>5.6</max>
               <resolution>0.01</resolution>
            </range>
            <noise>
               <type>gaussian</type>
               <!-- Noise based on gazebosim.org's tutorial on writing gazebo plugins w/ ROS. The comment they put will be reproduced:
                    Noise parameters based on published spec for Hokuyo laser achieving "+-30mm" accuracy at range < 10 m. A mean of 0.0m and                     stddev of 0.01m will put 99.7% of samples within 0.03m of the true reading. -->
               <mean>0.0</mean>
               <stddev>0.01</stddev>
            </noise>
         </ray>
         <plugin name="gazebo_ros_hokuyo_controller" filename="libgazebo_ros_laser.so">
            <topicName>caffeine/scan</topicName>
            <frameName>hokuyo_link</frameName>
         </plugin>
      </sensor>
   </gazebo>

   <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
         <robotNamespace>caffeine</robotNamespace>
         <legacyModeNS>true</legacyModeNS>
      </plugin>
   </gazebo>

</robot>
