<?xml version="1.0"?>
<robot name="constants" xmlns:xacro="http://ros.org/wiki/xacro">
   <!-- Constants for drivebase -->
   <xacro:property name="base_length" value="1.236"/>
   <xacro:property name="base_width" value="0.703"/>
   <xacro:property name="base_height" value="0.415"/>
   <xacro:property name="base_mass" value="39.091"/>

   <!-- Constants for wheels -->
   <xacro:property name="wheel_diam" value="0.25"/>
   <xacro:property name="wheel_length" value="0.09"/>
   <xacro:property name="wheel_mass" value="1.0"/>
   <xacro:property name="wheel_base_offset" value="0.02"/>
   <xacro:property name="pi" value="3.1415926"/>

   <!-- Constants for hokuyo sensor -->
   <xacro:property name="hokuyo_length" value="0.05"/>
   <xacro:property name="hokuyo_width" value="0.05"/>
   <xacro:property name="hokuyo_height" value="0.07"/>
   <xacro:property name="hokuyo_mass" value="0.16"/>

</robot>
