<?xml version="1.0"?>
<robot name="constants" xmlns:xacro="http://ros.org/wiki/xacro">
    <!-- NOTE: -->
    <!-- ALL coordinates relative to chassis_link UNLESS specified otherwise -->
    <!-- TODO: modify the inertia and mass values -->
    <!-- TODO: verify the wheel separation & wheel diam from mech -->

    <xacro:property name="pi" value="3.1415826"/>

    <!-- Base link constants --> 
    <xacro:property name="base_link_z" value="0.501747"/>

    <!-- Stand link constants -->
    <xacro:property name="stand_link_z" value="0.713459"/>

    <!-- Constants for chassis_link -->
    <xacro:property name="chassis_link_mass" value="30.0"/>

    <!-- Constants for side wheels -->
    <xacro:property name="wheel_mass" value="1.0"/>
    <xacro:property name="wheel_separation" value="0.764"/>
    <xacro:property name="wheel_diam" value="0.25"/>
    <xacro:property name="left_wheel_y" value="0.43751887"/>
    <xacro:property name="right_wheel_y" value="-0.43651887"/>
    <xacro:property name="wheel_z" value="-0.61759696"/>
    
    <!-- Constants for caster supports -->
    <xacro:property name="caster_mass" value="1.0"/>
    <xacro:property name="front_caster_x" value="0.55951056"/>
    <xacro:property name="back_caster_x" value="-0.55951056"/>
    <xacro:property name="caster_z" value="-0.619167561"/>

    <!-- Constants for caster wheels -->
    <xacro:property name="caster_wheel_mass" value="1.0"/>
    <!-- These coordinates are relative to the front_caster frame -->
    <xacro:property name="front_caster_wheel_x" value="0.03621719"/>
    <xacro:property name="back_caster_wheel_x" value="-0.03621719"/>
    <xacro:property name="caster_wheel_z" value="-0.04361749"/>

   <!-- ALL the coordinates are located in reference to the specified coordinate frame -->
   <!-- Constants for hokuyo sensor -->
   <xacro:property name="hokuyo_length" value="0.05"/>
   <xacro:property name="hokuyo_width" value="0.05"/>
   <xacro:property name="hokuyo_height" value="0.07"/>
   <xacro:property name="hokuyo_mass" value="0.16"/>
   <!-- Relative to base_link -->
   <xacro:property name="hokuyo_x" value="0.55"/> 

   <!-- Constants for Phidget IMU -->
   <xacro:property name="phidget_length" value="0.04"/>
   <xacro:property name="phidget_width" value="0.0375"/>
   <xacro:property name="phidget_height" value="0.01"/>
   <xacro:property name="phidget_mass" value="0.04"/>


  <!-- Constants for ZED camera -->
  <!-- NOTE: approx as a rectangular prism -->
  <xacro:property name="ZED_camera_mass" value="0.1587573"/>
  <xacro:property name="ZED_camera_length" value="0.175"/>
  <xacro:property name="ZED_camera_width" value="0.03"/>
  <xacro:property name="ZED_camera_height" value="0.033"/>
  <!-- Relative to stand_link -->
  <xacro:property name="ZED_camera_x" value="0.177655"/>

  <!-- Constants for Garmin GPS -->
  <!-- NOTE: approx as a cylinder; garmin itself is similar to a hockey puck -->
  <xacro:property name="gps_diam" value="0.061"/>
  <xacro:property name="gps_length" value="0.0195"/>
  <xacro:property name="gps_mass" value="0.165"/>
  <!-- Relative to stand link -->
  <xacro:property name="gps_x" value="-0.10"/>

</robot>
