<?xml version="1.0"?>
<launch>
    <!-- robot_model = husky_gazebo is unimplemented -->
    <arg name="robot_model" default="caffeine"/>

    <!-- Visual SLAM -->
    <!-- Remove "delete_db_on_start" to build on an existing map, saved in ~/.ros/rtabmap.db-->
    <group if="$(eval arg('robot_model') == 'caffeine')">
        <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">
            <remap from="rgb/image" to="zed/zed_node/left/image_rect"/>
            <remap from="rgb/camera_info" to="zed/zed_node/left/camera_info"/>
            <remap from="depth/image" to="zed/zed_node/depth"/>
            <remap from="rtabmap/odom" to="odometry/filtered"/>
            <remap from="scan" to="scan_filtered"/>

            <!-- Load rtabmap parameters -->
            <rosparam file="$(find nav_rtab)/config/rtab_config.yaml" command="load"/>
        </node>
    </group>

</launch>
