<?xml version="1.0"?>
<launch>

   <master auto="start"/>
   
   <!-- Run the map server --> 
   <arg name="map_file" default="$(find nav_amcl)/maps/playpen_map.yaml"/>
   <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

   <!-- Run AMCL --> 
   <node pkg="amcl" type="amcl" name="amcl">
    <rosparam file="$(find nav_amcl)/config/amcl_params.yaml" command="load" ns = "amcl"/>
   </node>

   <!-- Run Move Base-->
   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find nav_amcl)/config/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find nav_amcl)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find nav_amcl)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find nav_amcl)/config/global_costmap_params.yaml" command="load"/> 
    <rosparam file="$(find nav_amcl)/config/base_local_planner_params.yaml" command="load" />
    
    <!-- Set control loop frequency to an appropriate rate -->
    <param name="controller_frequency" value="10.0" />

  </node> 
</launch> 
